.first{
   background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%) ,url(Netflix\ Background\ Image.jpg);
    width:100%;
    height: 100vh;
    border: 2px solid black;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.secound{
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}

.third{
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}
.four{
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}
.five{
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}
.six{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
}

